# Игнорировать все файлы .log
*.log

# Игнорировать папку node_modules/
node_modules/

# Игнорировать все .DS_Store файлы
C:\Program Files\Desktop\JS\package.json

C:\Program Files\Desktop\JS\package-lock.json

